<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <script th:src="@{/js/jquery-3.2.0.min.js}" src="../static/js/jquery-3.2.0.min.js"></script>
    <script th:src="@{/js/jquery-ui-1.10.4.custom.min.js}" src="../static/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
    <script th:src="@{/js/gsdk-checkbox.js}" src="../static/js/gsdk-checkbox.js"></script>
    <script th:src="@{/js/gsdk-radio.js}" src="../static/js/gsdk-radio.js"></script>
    <script th:src="@{/js/gsdk-bootstrapswitch.js}" src="../static/js/gsdk-bootstrapswitch.js"></script>
    <script th:src="@{/js/get-shit-done.js}" src="../static/js/get-shit-done.js"></script>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/gsdk.css}"
          href="../static/css/gsdk.css" />
    <style type="text/css">
        .popover {
            width: 100%;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity = 0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="_csrf" th:content="${_csrf.token}" />
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-ct-blue" >
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">FryingPan</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/explore">Explore</a>
                            </li>
                            <li class="">
                                <a href="#" data-toggle="search" class="hidden-xs">
                                    <i class="glyphicon glyphicon-search"></i>
                                </a>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-left navbar-search-form" role="search">
                            <div class="form-group">
                                <input type="text" value="" class="form-control" placeholder="Search..." />
                            </div>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span th:text="${username}">username</span>
                                    <strong class="caret"></strong>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a th:href="'/user/'+${username}">User Profile</a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li onclick="$('#logout-form').submit()"><a href="#">Sign Out</a>
                                        <form th:action="@{/logout}" method="post" id="logout-form"></form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-2 column">
            <div class="list-group">
                <a href="/" class="list-group-item">Files</a>
                <a href="/videos" class="list-group-item active">Videos</a>
                <a href="#" class="list-group-item">Pictures</a>
                <a href="/share" class="list-group-item">Share</a>
                <a href="/offline" class="list-group-item">Offline</a>
                <a href="/trash" class="list-group-item">Trash</a>
            </div>
        </div>
        <div class="col-md-10 column">
            <div style="margin-bottom:18px;">
                <button class="btn btn-default btn-round" type="button" id="share-btn"><i class="glyphicon glyphicon-share-alt"></i></button>
                <button class="btn btn-default btn-round" type="button" id="delete-btn"><i class="glyphicon glyphicon-remove"></i></button>
            </div>

            <p th:if="${#arrays.isEmpty(files)}">No file</p>

            <div class="row clearfix">
                <div class="col-xs-12 col-sm-6 col-md-3" th:each="file : ${files}">
                    <div class="thumbnail">
                        <div class="caption">
                            <p th:text="${T(org.apache.commons.io.FilenameUtils).getName(file.path)}">File1</p>
                        </div>
                        <div class="caption">
                            <img th:src="'/thumb/get?file=' + ${file.path}" src="http://pic.xiami.net/images/album/img39/12839/100873.jpg@1e_1c_100Q_185w_185h" height="48"/>
                            <!--<p><a th:text="${file.username}" href="#" th:href="${'/user/' + hot.username}">User1</a> <span style="float:right" th:text="${hot.createtime}"> </span></p>-->
                            <!--<a href="#" class="btn btn-link btn-xs pull-right" role="button"><i class="glyphicon glyphicon-download"></i></a> <button class="btn btn-info btn-xs like-btn" ><i class="glyphicon glyphicon-thumbs-up" ></i><span th:text="${hot.thumbs}">123</span></button>-->
                        </div>
                    </div>
                </div>
            </div>

            <ul class="pagination ct-blue">
                <li th:if="${page==null or page lt 0}"><a href="/videos?page=1">&laquo;</a></li>
                <li th:unless="${page==null or page lt 10}"><a href="/videos?page=1" th:href="'/videos?page=' + ${#numbers.formatInteger(page - 10, 1)}">&laquo;</a></li>
                <li><a href="/videos?page=1">1</a></li>
                <li><a href="/videos?page=2">2</a></li>
                <li><a href="/videos?page=3">3</a></li>
                <li><a href="/videos?page=4">4</a></li>
                <li><a href="/videos?page=5">5</a></li>
                <li th:if="${page==null}"><a href="/videos?page=11">&raquo;</a></li>
                <li th:unless="${page==null}"><a href="#" th:href="'/videos?page=' + ${#numbers.formatInteger(page + 10, 1)}">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/home.js}" src="../static/js/home.js"></script>
</body>
</html>
